<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pt.iscte.pidesco.umlPackage.color_scheme">
      <action
            class="pt.iscte.pidesco.demo.ext.TestExtensionPoint"
            name="TestExtensionPoint">
      </action>
   </extension>

   
   
</plugin>
